# Cake TMP Dirs
src/app/tmp/*
!src/app/tmp/
 
src/app/tmp/cache/*
!src/app/tmp/cache/
!src/app/tmp/cache/empty
 
src/app/tmp/cache/models/*
!src/app/tmp/cache/models/
!src/app/tmp/cache/models/empty
 
src/app/tmp/cache/persistent/*
!src/app/tmp/cache/persistent/
!src/app/tmp/cache/persistent/empty
 
src/app/tmp/cache/views/*
!src/app/tmp/cache/views/
!src/app/tmp/cache/views/empty
 
src/app/tmp/logs/*
!src/app/tmp/logs/
!/app/tmp/logs/empty
 
src/app/tmp/sessions/*
!src/app/tmp/sessions/
!src/app/tmp/sessions/empty
 
src/app/tmp/tests/*
!src/app/tmp/tests/
!src/app/tmp/tests/empty
